.contactSection {
  font-size: 14px;
  color: #cccccc9c;
  margin-top: 2em;
  width: 40%;
  min-width: 300px;
}
.contactSection h3{
  margin: 0;
  padding: 0;
  font-size: 24px;
}

.contactForm {
  border-color: #cccccc9c;
  text-align: start;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.contactForm legend {
  padding: 10px;
}

.inputField {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #cccccc9c;
  border-radius: 4px;
}

.textarea {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #cccccc9c;
  border-radius: 4px;
}

.submitButton {
  background-color: #5d56c5;
  color: ccc;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #5e56c5b2;
}
