.navbar {
  margin: 3rem auto;
  max-width: 500px;
  min-width: 25%;
  font-size: small;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #646cff9f;
  text-align: center;
  display: flex;
  justify-content: center;
}
.menuMobile {
  display: none;
}
.menuMobile li {
  border: 1px solid #dddddd75;
  margin: 0;
  padding: 20px;
}
.menuMobile ul{
 margin-top: 2rem;
 position: absolute;
 background-color: #111111;
}
.mobileElements{
display: flex;
}
.menuIcon {
  background-color: #111111;
  margin: 2rem 0 2rem 1rem;
  font-size: 16px;
  color: #dddddd75;
  padding: 10px;
  max-width: 12px;
  border: 1px solid #dddddd75;
}

@media screen and (max-width: 900px) {
  .menuMobile {
    display: block;
    width: 100%;
  }
  .navbar{
    display: none;
  }
}
