.navbar {
  margin: 3rem auto;
  width: 28%;
  font-size: small;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #646cff9f;
  text-align: center;
  display: flex;
  justify-content: center;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar li {
  margin-right: 5px;
}

.navbar a {
  font-size: 12px;
  color: #ddd;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.navbar li:hover {
  cursor: pointer;
  border-radius: 3px;
  background-color: #646cff6e;
}
