#root {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.presentation {
  display: flex;
  justify-content: space-between;
}
.about-me h1 {
  color: #646cff;
  font-size: 28px;
}
.about-me p {
  color: #ccc;
  font-size: 20px;
}
.about-me {
  display: block;
  align-items: start;
}
.about-me img {
  margin-bottom: 20px;
  height: 150px;
  border-radius: 100%;
}
