#root {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.presentation {
  display: flex;
  justify-content: space-between;
}
.about-me {
  max-width: 50%;
}
.my-info{
  padding: 10px;
  text-align: left;
}
.about-me h1 {
  font-weight: 800;
  font-size: 32px;
  color: #646cff;
}
.about-me p {
  color: #ccc;
  font-size: 18px;
}
.about-me img {
  margin-bottom: 20px;
  height: 150px;
  border-radius: 100%;
}
